<div class="modal-header">
  <h2 class="modal-title"><%= @employee.first_name %></h2>
</div>
<div class="modal-body">
  <%= form_with(model: @employee, url: employees_path, method: :put) do |form| %>
    <%= form.hidden_field :_method, value: "put" %>
    <label>Department:</label>
    <% departments = ["Product", "Sales", "Marketing", "Infra"] %>
    <%= form.select :department, options_for_select(departments, @employee.department&.name), { prompt: "Select department" }, { class: "form-select" } %>
    <br>
    <%= form.hidden_field :id, value: @employee.id %>

    <%= form.submit "Submit", class: "btn btn-primary text-center" %>
  <% end %>
</div>

